events {
    worker_connections 1024;
}

http {
    server {
        listen ${PORT};
        server_name doneer.ayni.nl;

        root /usr/share/nginx/html;

        location / {
            index index.html;
            try_files $uri $uri/ /index.html;
        }

        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
            expires max;
            log_not_found off;
        }
    }
}
